{% extends 'Base/layout.html' %}

{% block content %}
<h1>All Incidents</h1>

<a href="{{ url_for('transgression.share')}}">Share!</a>

{% if ptgs %}

<!-- this will display a list of all moderators and the number of
    pending transgressions that are assigned to them. For dev purposes -->

<ul>
{% for mod in mods %}
  <li><strong>{{mod.name}}</strong>: {{ptgs[mod.id]}}
{% endfor %}
</ul>

{% endif %}

{% if tgs %}
  <div class="transgressions">
  {% for tg in tgs %}
    <div class="transgression">
      <h3>
        <a href="{{ url_for('transgression.view', transgression_id=tg.id) }}">
          {{ tg.title }}
        </a>
      </h3>
    </div>
  {% endfor %}
  </div>
{% else %}
  No transgressions found! (Hoorah!)
{% endif %}
{% endblock content %}
