$nav-bg: #f7f7f7;
$nav-link-odd-colour: #eee;

.app-container {
  height: 100vh;
  overflow: hidden;
}

.main-content {
  padding: 2rem;
}

.side-navigation {
  align-items: flex-end;
  background: $nav-bg;
  border-right: 1px solid rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;

  .close-nav {
    display: block;
    padding: 20px;
    text-decoration: none;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    width: 100%;

    .nav-link:nth-of-type(odd) {
      background: $nav-link-odd-colour;
    }

    .nav-link a {
      display: block;
      padding: .8rem;
      text-decoration: none;
      width: 100%;
    }

  }
}

.banner.flash-message {
  border-radius: 3px;
  background: #666;
  color: #f7f7f7;
  padding: 1rem;
}

// LOGIN STYLES

form {
  background: #f1f1f1;
  box-shadow: -5px 8px 0 3px rgba(0,0,0,0.2);
  padding: 1rem;
  .form-group {
    padding: 0.2rem 0rem 0.2rem 1rem;
    margin: 10px 0;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      width: 90%;
      height: 35px;
    }

    textarea {
      width: 90%;
      height: 150px;
    }
  }

  .form-button {
    text-align: center;
  }

  button[type="submit"] {
    padding: 1rem 2rem;
    background: #626262;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow: 0 5px 0 0  #424242;
  }
}

.transgressions {
  display: flex;
  flex-wrap: wrap;
  // align-items: flex-start;
  // justify-content: space-between;
  padding-top: 2rem;
}

.transgression {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 300px;
  height: 100px;
  background: #f7f7f7;
  text-align: center;

  a {
    text-decoration: none;
    text-transform: lowercase;
  }

  &:nth-of-type(even) {
    background: #efefef;
  }
}
