.app-container {
  height: 100vh;
  overflow: hidden; }

  .main-content {
    padding: 2rem; }

    .side-navigation {
      align-items: flex-end;
      background: #f7f7f7;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start; }
      .side-navigation .user-welcome {
        align-self: center; }
        .side-navigation .close-nav {
          display: block;
          padding: 20px;
          text-decoration: none; }
          .side-navigation .nav-links {
            margin: 0;
            padding: 0;
            width: 100%; }
            .side-navigation .nav-links .nav-link:nth-of-type(odd) {
              background: #eee; }
              .side-navigation .nav-links .nav-link a {
                display: block;
                padding: 0.8rem;
                text-decoration: none;
                width: 100%; }

.banner.flash-message {
  border-radius: 3px;
  background: #666;
  color: #f7f7f7;
  padding: 1rem; }

  form {
    background: #f1f1f1;
    box-shadow: -5px 8px 0 3px rgba(0, 0, 0, 0.2);
    padding: 1rem; }
    form .form-group {
      padding: 0.2rem 0rem 0.2rem 1rem;
      margin: 10px 0; }
      form .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px; }
        form .form-group input {
          width: 90%;
          height: 35px; }
          form .form-group textarea {
            width: 90%;
            height: 150px; }
    form .form-button {
      text-align: center; }
      form button[type="submit"] {
        padding: 1rem 2rem;
        background: #626262;
        color: white;
        border: none;
        font-weight: bold;
        box-shadow: 0 5px 0 0 #424242; }

.transgressions {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem; }

  .transgression {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 300px;
    height: 100px;
    background: #f7f7f7;
    text-align: center; }
    .transgression a {
      text-decoration: none;
      text-transform: lowercase; }
      .transgression:nth-of-type(even) {
        background: #efefef; }
