.app-container {
  height: 100vh;
  overflow: hidden; }

  .main-content {
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll; }

    .side-navigation {
      align-items: flex-end;
      background: #f7f7f7;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start; }
      .side-navigation .user-welcome {
        align-self: center; }
        .side-navigation .close-nav {
          display: block;
          padding: 20px;
          text-decoration: none; }
          .side-navigation .nav-links {
            margin: 0;
            padding: 0;
            width: 100%; }
            .side-navigation .nav-links .nav-link:nth-of-type(odd) {
              background: #eee; }
              .side-navigation .nav-links .nav-link a {
                display: block;
                padding: 0.8rem;
                text-decoration: none;
                width: 100%; }

.banner.flash-message {
  border-radius: 3px;
  background: #666;
  color: #f7f7f7;
  padding: 1rem; }

  form {
    background: #f1f1f1;
    box-shadow: -5px 8px 0 3px rgba(0, 0, 0, 0.2);
    padding: 1rem; }
    form .form-group {
      padding: 0.2rem 0rem 0.2rem 1rem;
      margin: 10px 0; }
      form .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px; }
        form .form-group input {
          width: 90%;
          height: 35px; }
          form .form-group textarea {
            width: 90%;
            height: 150px; }
    form .form-button {
      text-align: center; }
      form button[type="submit"] {
        padding: 1rem 2rem;
        background: #626262;
        color: white;
        border: none;
        font-weight: bold;
        box-shadow: 0 5px 0 0 #424242; }

.stories {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem; }

  .story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 300px;
    height: 100px;
    background: #f7f7f7;
    text-align: center; }
    .story a {
      text-decoration: none;
      text-transform: lowercase; }
      .story:nth-of-type(even) {
        background: #efefef; }

.all-comments, .comment-form {
  margin: 0 auto;
  width: 80%; }

  .comment {
    background: #efefef;
    margin: 2rem 0;
    padding: 0.6rem; }
    .comment .comment.level-2 {
      background: #fefefe;
      margin-left: 1rem; }
      .comment .comment.level-3 {
        background: #efefef;
        margin-left: 2rem; }
        .comment .comment.level-4 {
          background: #fefefe;
          margin-left: 3rem; }
          .comment h4 {
            margin-top: 0; }
            .comment .comment-footer {
              text-align: right;
              padding: 0.5em;
              border-top: 1px solid rgba(0, 0, 0, 0.4);
              margin-top: 0.5em; }
              .comment .comment-form {
                border: 1px solid rgba(0, 0, 0, 0.4);
                width: 100%;
                margin-top: 0.5em; }
                .comment .comment-form form {
                  box-shadow: none; }
